# Awari - Data Science

## Exercícios Unidade 4 - Parte 2

Neste Jupyter notebook você irá resolver uma série de exercícios utilizando a linguagem Python e a biblioteca Pandas.

Você utilizará um dataset com dados de jogos de futebol da Europa.

Todo o seu código deve ser executado neste Jupyter Notebook. Por fim, se desejar, revise as respostas com o seu mentor.

### Passo 1. Importe o dataset e salve os dados em um dataframe

Os dados estão salvos no arquivo ***datasets/euro2012.csv***.

Salve os dados em uma variável de nome *euro12*.

In [2]:
import pandas as pd

In [3]:
euro12 = pd.read_csv('datasets/euro2012.csv', encoding='UTF-8')
euro12

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,20,74.1%,101,89,16,16,0,18,18,19
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,...,12,70.6%,35,30,3,5,0,7,7,15
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,...,6,66.7%,48,56,3,7,1,7,7,17
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,10,71.5%,73,90,10,12,0,14,14,16
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,...,17,65.4%,43,51,11,6,1,10,10,17
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,...,10,77.0%,34,43,4,6,0,7,7,16
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,...,8,61.6%,35,51,7,7,0,9,9,18
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,...,13,76.5%,48,31,4,5,0,9,9,18

### Passo 2. Quantas o tamanho do dataset (linhas e colunas)?

In [6]:
euro12.shape
# Resposta: O dataset possui 16 linhas e 35 colunas.

(16, 35)

### Passo 3. Quantos e quais times participaram do campeonato?

In [7]:
euro12.Team.unique
# Resposta: Participaram do torneio 15 times, que são: República Tcheca, Dinamarca, Inglaterra, França, Alemanha, Grécia,
# Itália, Holanda, Polônia, Portugal, Irlanda, Rússia, Espanha, Suécia e Ucrânia.

<bound method Series.unique of 0                 Croatia
1          Czech Republic
2                 Denmark
3                 England
4                  France
5                 Germany
6                  Greece
7                   Italy
8             Netherlands
9                  Poland
10               Portugal
11    Republic of Ireland
12                 Russia
13                  Spain
14                 Sweden
15                Ukraine
Name: Team, dtype: object>

### Passo 4. Crie um novo dataframe com as colunas *Team*, *Yellow Cards* e *Red Cards*.

In [8]:
dicionario = {'Team': euro12['Team'], 'Yellow Cards': euro12['Yellow Cards'], 'Red Cards': euro12['Red Cards']}
dataframe = pd.DataFrame(dicionario)
dataframe

                   Team  Yellow Cards  Red Cards
0               Croatia             9          0
1        Czech Republic             7          0
2               Denmark             4          0
3               England             5          0
4                France             6          0
5               Germany             4          0
6                Greece             9          1
7                 Italy            16          0
8           Netherlands             5          0
9                Poland             7          1
10             Portugal            12          0
11  Republic of Ireland             6          1
12               Russia             6          0
13                Spain            11          0
14               Sweden             7          0
15              Ukraine             5          0

### Passo 5. Ordene os times pela quantidade de cartões amarelos.

In [9]:
dataframe.sort_values('Yellow Cards')

                   Team  Yellow Cards  Red Cards
2               Denmark             4          0
5               Germany             4          0
3               England             5          0
8           Netherlands             5          0
15              Ukraine             5          0
4                France             6          0
11  Republic of Ireland             6          1
12               Russia             6          0
1        Czech Republic             7          0
9                Poland             7          1
14               Sweden             7          0
0               Croatia             9          0
6                Greece             9          1
13                Spain            11          0
10             Portugal            12          0
7                 Italy            16          0

### Passo 6. Qual a média de cartões amarelos por time?

In [10]:
euro12['Yellow Cards'].mean()

7.4375

### Passo 7. Selecione os times que fizeram mais de 6 gols.

In [11]:
euro12.Team[euro12['Goals'] > 6]

5     Germany
13      Spain
Name: Team, dtype: object

### Passo 8. Quais times que fizeram gol de pênalti?

In [12]:
euro12.Team[euro12['Penalty goals'] > 0]

5     Germany
6      Greece
13      Spain
Name: Team, dtype: object

### Passo 9. Mostre somente a coluna "Shooting Accuracy" para os times *England*, *Italy* e *Russia*

In [13]:
euro12[euro12.Team.isin(['England', 'Italy', 'Russia'])][['Team','Shooting Accuracy']]

       Team Shooting Accuracy
3   England             50.0%
7     Italy             43.0%
12   Russia             22.5%

### Passo 10. Qual o time que fez mais gols?

In [14]:
maximo = euro12['Goals'].max()
euro12[['Team', 'Goals']].loc[euro12['Goals'] == maximo]

     Team  Goals
13  Spain     12


### Awari -  <a href="https://awari.com.br/"> awari.com.br</a>